In [26]:
import pandas as pd
from datetime import datetime as dt

In [3]:
#Realizando a leitura do nosso dataframe
df = pd.read_csv('./data/users.csv')

In [30]:
df.head()

,id,firstname,lastname,email,email2,profession,age,process,age_plus_10,fullname,created_datetime,created_date
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,Glenda.Pyle@gmail.com,firefighter,25.0,jupyter_analysis,35.0,Glenda Pyle,2024-04-09 02:50:07.171885,2024-04-09
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,Hollie.Allys@gmail.com,worker,26.0,jupyter_analysis,36.0,Hollie Allys,2024-04-09 02:50:07.171885,2024-04-09
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,Grier.Henrie@gmail.com,doctor,23.0,jupyter_analysis,33.0,Grier Henrie,2024-04-09 02:50:07.171885,2024-04-09
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,Kittie.Strephon@gmail.com,worker,45.0,jupyter_analysis,55.0,Kittie Strephon,2024-04-09 02:50:07.171885,2024-04-09
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,Kassey.Prober@gmail.com,worker,45.0,jupyter_analysis,55.0,Kassey Prober,2024-04-09 02:50:07.171885,2024-04-09

In [5]:
#Criando uma nova coluna com valor fixo
df['process'] = 'jupyter_analysis'

In [8]:
#Criando uma coluna com valor din√¢mico
df['age_plus_10'] = df['age'] + 10

In [24]:
#Concatenando o nome e sobrenome para criar a coluna de nome completo !
df['fullname'] = df['firstname'] +' '+ df['lastname']

In [27]:
df['created_datetime'] = dt.now()

In [29]:
df['created_date'] = dt.today().strftime('%Y-%m-%d')

In [31]:
df.drop(columns=['email2'], inplace=True)

In [32]:
df

,id,firstname,lastname,email,profession,age,process,age_plus_10,fullname,created_datetime,created_date
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,firefighter,25.0,jupyter_analysis,35.0,Glenda Pyle,2024-04-09 02:50:07.171885,2024-04-09
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,worker,26.0,jupyter_analysis,36.0,Hollie Allys,2024-04-09 02:50:07.171885,2024-04-09
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,doctor,23.0,jupyter_analysis,33.0,Grier Henrie,2024-04-09 02:50:07.171885,2024-04-09
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,worker,45.0,jupyter_analysis,55.0,Kittie Strephon,2024-04-09 02:50:07.171885,2024-04-09
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,worker,45.0,jupyter_analysis,55.0,Kassey Prober,2024-04-09 02:50:07.171885,2024-04-09
5,105,Lusa,Kolnick,Lusa.Kolnick@yopmail.com,firefighter,23.0,jupyter_analysis,33.0,Lusa Kolnick,2024-04-09 02:50:07.171885,2024-04-09
6,106,Fredericka,Florina,Fredericka.Florina@yopmail.com,firefighter,43.0,jupyter_analysis,53.0,Fredericka Florina,2024-04-09 02:50:07.171885,2024-04-09
7,107,Constance,Georgy,Constance.Georgy@yopmail.com,doctor,NaN,jupyter_analysis,NaN,Constance Georgy,2024-04-09 02:50:07.171885,2024-04-09
8,108,Maria,Concha,Averyl.Concha@yopmail.com,police officer,41.0,jupyter_analysis,51.0,Maria Concha,2024-04-09 02:50:07.171885,2024-04-09
9,109,Lily,Uird,Lily.Uird@yopmail.com,firefighter,46.0,jupyter_analysis,56.0,Lily Uird,2024-04-09 02:50:07.171885,2024-04-09
10,110,Malina,Huggins,Malina.Huggins@yopmail.com,worker,23.0,jupyter_analysis,33.0,Malina Huggins,2024-04-09 02:50:07.171885,2024-04-09
11,111,Dorthy,Nisbet,Dorthy.Nisbet@yopmail.com,doctor,NaN,jupyter_analysis,NaN,Dorthy Nisbet,2024-04-09 02:50:07.171885,2024-04-09
12,112,Tiffie,Joachim,Tiffie.Joachim@yopmail.com,doctor,33.0,jupyter_analysis,43.0,Tiffie Joachim,2024-04-09 02:50:07.171885,2024-04-09
13,113,Agathe,Adrienne,Agathe.Adrienne@yopmail.com,developer,32.0,jupyter_analysis,42.0,Agathe Adrienne,2024-04-09 02:50:07.171885,2024-04-09
14,114,Joao,Silva,joao.silva@bol.com.br,developer,19.0,jupyter_analysis,29.0,Joao Silva,2024-04-09 02:50:07.171885,2024-04-09

In [ ]:
ok