In [ ]:
!pip install pandas

In [2]:
import pandas as pd

In [3]:
#Criando um dataframe
dataframe = pd.read_csv('./data/users.csv')

In [5]:
type(dataframe)

pandas.core.frame.DataFrame

In [13]:
dataframe.describe()

               id        age
count   15.000000  13.000000
mean   107.000000  32.615385
std      4.472136  10.120429
min    100.000000  19.000000
25%    103.500000  23.000000
50%    107.000000  32.000000
75%    110.500000  43.000000
max    114.000000  46.000000

In [14]:
dataframe.head()

,id,firstname,lastname,email,email2,profession,age
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,Glenda.Pyle@gmail.com,firefighter,25.0
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,Hollie.Allys@gmail.com,worker,26.0
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,Grier.Henrie@gmail.com,doctor,23.0
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,Kittie.Strephon@gmail.com,worker,45.0
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,Kassey.Prober@gmail.com,worker,45.0