In [1]:
import pandas as pd

In [3]:
#Realizando a leitura do nosso dataframe
df = pd.read_csv('./data/users.csv')

In [4]:
df.head()

,id,firstname,lastname,email,email2,profession,age
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,Glenda.Pyle@gmail.com,firefighter,25.0
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,Hollie.Allys@gmail.com,worker,26.0
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,Grier.Henrie@gmail.com,doctor,23.0
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,Kittie.Strephon@gmail.com,worker,45.0
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,Kassey.Prober@gmail.com,worker,45.0