In [2]:
nome = 'Bob'

In [4]:
idade = 20

In [88]:
# format - Passando variaveis como parametro após a string 
frase_format = "Olá, meu nome é: {} e eu tenho {} anos.".format(nome,idade)

In [27]:
frase_format

'Olá, meu nome é: Bob e eu tenho 20 anos.'

In [62]:
# f-string - Passando variaveis como parametro dentro das chaves
frase_f_string = f"Olá, meu nome é:{nome}, tenho {idade} anos."

In [31]:
frase_f_string

'Olá, meu nome é: Bob e eu tenho 20 anos.'

In [87]:
# Utilizando f-string para realizar consultas sql
sql = f"""
    select * 
    from table_test
    where nome = {nome}
"""

In [85]:
sql

'\n    select * \n    from table_test\n    where nome = Bob\n'

In [47]:
# Upper - Deixando a palavra ou frase em maisculo
frase_upper = frase_f_string.upper()

In [48]:
frase_upper

'OLÁ, MEU NOME É: BOB E EU TENHO 20 ANOS.'

In [86]:
# Lower - Deixando a palavra ou frase em minusculo
frase_lower = frase_f_string.lower()

In [51]:
frase_lower

'olá, meu nome é: bob e eu tenho 20 anos.'

In [84]:
# split - Separando por algum caractere (,)
frase_split = frase_f_string.split(',')

In [58]:
frase_split

['Olá', ' meu nome é: Bob', ' tenho 20 anos.']

In [59]:
# lenght - Para verificar o tamanho da frase ou palavra
frase_lenght = len(frase_f_string)

In [63]:
frase_lenght

36

In [65]:
# join
frase_join = "".join(frase_split)

In [66]:
frase_join

'Olá meu nome é: Bob tenho 20 anos.'

In [83]:
# start ou endwith - Começa ou termina com palavra (x)
comeca_com_ola = frase_join.startswith("Olá")

In [73]:
comeca_com_ola

True

In [81]:
termina_com_anos = frase_join.endswith(".")

In [82]:
termina_com_anos

True

In [89]:
# contains - Verificar se um texto está contido dentro de outro
contem_bob = 'Bob' in frase_f_string

In [90]:
contem_bob

True